<%#= react_component("App", props: {match: @match.as_json, willStart: (@match.team_ids.first == @team.id), team: @team}, prerender: false) %>
<%= javascript_pack_tag 'application' %>
<script>
  window.matchID = <%= @match.id %>
  window.canBanCard = <%= @match.team_ids.first == @team.id %>
  window.isFirstTeam = <%= @match.team_ids.first == @team.id %>
</script>
<header>
  <h1><img src="/images/logo.png"></h1>
</header>
