/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.backdrop {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #fff;
  width: 50%;
  z-index: 2;
  opacity: 0.5;
}
/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Card { position: relative; }
.BannedList { background-color: red; }
.OpponentCard { background-color: yellow; }
.BannedList h3 { text-align: center; color: white; margin: 20px 0px; }
.CardList { background-color: green; position: relative; }

.SelectedDeck, .selected-deck {
  background-color: #004cf6;
  padding: 5px;
}

.SelectedDeck .ml-10:not(:first-child) { margin-left: 10px; }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cardFilter {
  padding: 20px;
}

.rarityCardFilter, .typeCardFilter {
  margin: 0 10px;
}*/
